@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');

/* reset css */
* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* common styles */
html {
    font-family: Lato, sans-serif;
    font-size: 14px;
    /* line-height: 1.5; */
    box-sizing:  border-box;
    background: url('images/dark-wood.jpg')
}

body {
    width: 60%;
    margin: 0 auto;
}

/* header styles */
header {
    background: url('images/header-page.jpg') no-repeat; /* center center fixed */
    /* -webkit-background-size: cover; */
    /* -moz-background-size: cover; */
    /* -o-background-size: cover; */
    background-size: cover;
    /* no-repeat;  
    height: 130px;  
    width: 100%; */
    margin-bottom: 0.15rem;
}



header h1 {
    padding: 3rem 0.5rem;
    text-align: right;
}

/* navigation styles */
nav {
    background: url('images/header-page.jpg') no-repeat;
    background-size: cover;
    margin-bottom: 0.3rem;
}
nav ul li {
    display: inline-block;   
    padding:0.3rem;
}

nav ul li a {
    color: white;    
    text-decoration: none; 
    padding-left: 3rem;    
}

nav ul li a:hover {
    color: black;
}

nav ul li:first-of-type a {
    color: black;
}

/* main section styles */
main {
    background-color: white;
}

/* articles */
section.courses {
    display: inline-block;
    width: 70%;
    padding: 1rem;
}

article {
    border-right:  1px solid rgb(238, 238, 238);
    display: block;
    padding-bottom: 2rem;
    /* background-color: #0F0; */
}

article figure {
    border: solid 1px rgb(238, 238, 238);
    padding: 0.5rem;
    display: inline-block;
    width: 49%;
}

article figure img {
    width: 100%;
    height: auto;
}

article figure figcaption {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(136, 123, 118);
}

div {
    /* background-color: #F00; */
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

div h2, h3 {
    padding-left: 1rem;
}

div h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8rem;
}

div h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(223, 197, 117);
    font-size: 1.3rem;
}

article p {
    display: inline-block;
    /* width: 49%; */
    /* background-color: aqua; */
    padding-left: 1rem;
}

/* sidebar styles */
aside {
    display: inline-block;
    width: 29%;
    vertical-align: top;
}

aside h2 {
    padding: 1rem;    
    padding-right: 6rem;
    color: rgb(208, 93, 122);
    font-family: Georgia, 'Times New Roman', Times, serif;   
}

aside ul li {
    padding: 1rem;
    padding-right: 5rem;
    list-style-type: none;
    border-bottom:  1px solid rgb(238, 238, 238);
}

aside ul li a {    
    text-decoration: none;
    color: rgb(208, 93, 122);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}