@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 14px Roboto, sans-serif;
    /* background-color: #3c3f49; */
    /* color: #333333, #3c3f49; */
    /* color: #FFFFFF; */
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

ul {    
    list-style-type: none;
}

/* Overlay we put over element's background */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: #3c3f49;
    z-index: -1;
}

/* Header Styles */
header.site-header {
    background: url('img/header-bg.png') center center;
    background-size: cover;
    color: #FFF;
    position: relative;
    z-index: 10;
}

header.site-header a {
    color: #FFF;    
}

/* Navigation Styles */
header.site-header nav {
    padding: 50px 25px;
}

header.site-header nav h1 {
    float: left;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;

}

header.site-header nav ul {
    float: right;
}

header.site-header nav ul li {
    float: left;
    margin: 0 20px;
}

header.site-header nav ul li a {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}

header.site-header nav ul li:hover a {
    color: #fa692e;
}

/* clear float */
header.site-header nav::after {
    content: '';
    display: block;
    clear: both;
}

/* Intro styles */
header.site-header section.intro {
    width: 950px;
    margin: 0 auto;
    margin-top: 200px;
}

header.site-header section.intro p {
    width: 750px;
    float: left;
    font-size: 36px;
    font-weight: lighter;
}

header.site-header section.intro p span {
    font-weight: normal;
}

header.site-header section.intro i {
    font-size: 54px;
    margin-top: 20px;
    margin-left: 140px;
}

header.site-header section.intro a:hover {
    color: #fa692e;
}

/* clear float */
header.site-header section.intro::after {
    content: '';
    display: block;
    clear: both;
}

/* Intro Articles Styles */
header.site-header section.articles-container {
    margin-top: 150px;
    font-size: 16px;    
}

header.site-header section.articles-container article {
    width: calc(25% - 80px);
    height: 350px;
    float: left;
    margin: 0 40px;
}

header.site-header section.articles-container article i {
    font-size: 38px; 
}

header.site-header section.articles-container article p {
    padding: 100px 0;
}

header.site-header section article:hover {
    border-bottom: 15px solid #fa692e;
    cursor: pointer;
}

/* clear float */
header.site-header section.articles-container::after {
    content: '';
    display: block;
    clear: both;   
}
/* Main Styles */
/* Testimonial Styles */
main section.testimonial {
    position: relative;
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid black; */
}

/* clear float */
main section.testimonial::after {
    content: '';
    display: block;
    clear: both;
}

main section.testimonial section {
    width: 33%;
    float: left;
    padding: 100px 0 100px 80px;
}

/* Quote Section Styles */
main section.testimonial section.quote {
    margin-top: 40px;
    text-align: right; 
}

main section.testimonial section.quote p.cite {
    font-size: 24px;
    font-weight: bold;   
    padding-left: 120px;
    margin-bottom: 50px;
}

main section.testimonial section.quote p.author {
    text-transform: capitalize;    
}

/* Code Mesch Story Styles */
main section.testimonial section.code-mesh-story p.story {
    font-size: 16px;
    letter-spacing: 0.25px;    
}

main section.testimonial section.code-mesh-story hr {
    margin: 40px 0;
}

main section.testimonial section.code-mesh-story p.story-slogan {
    font-size: 18px;
    font-weight: bold;
}

main section.testimonial div.orange {
    width: 29%;
    height: 550px;
    background: #fa692e;
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 13%;
}

/* Schedule Styles */
main section.schedule {
    padding: 80px 200px;
    background: #3c3f49;
    color: #FFF;
}

main section.schedule header h2 {
    font-size: 26px;
    width: 500px;
}

main section.schedule ul {
    margin-top: 150px;
}

main section.schedule ul li {
    display: inline-block;
    width: calc(50% - 100px);  
    padding-left: 40px;  
    padding-bottom: 150px;
}

section.schedule ul span.icon-container {
    padding: 20px 21px;
    border-radius: 50%;
    background: #fa692e;
    margin-right: 50px;
}
 
section.schedule ul span.time {
    font-size: 18px;
    font-weight: bold;
}

section.schedule ul span.event {
    text-transform: capitalize;
    font-size: 18px;
    padding-left: 30px;
}

/* Speakers Styles */
main section.speakers {
    padding: 80px 250px;
}

main section.speakers header {
    /* border: 1px solid black; */
}

/* clear float */
main section.speakers header::after,
main section.speakers div.speakers-container::after {
    content: '';
    display: block;
    clear: both;
}

main section.speakers header p:first-of-type {
    font-weight: bold;
    font-size: 24px;
    width: 50%;
    float: left;
}

main section.speakers header p:last-of-type {
    padding-top: 30px;
    font-size: 16px;
    width: 50%;
    float: right;
}

main section.speakers div.speakers-container {
    margin-top: 60px;
}

main section.speakers div.speakers-container div.speaker-box {
    width: calc(25% - 40px);
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;
    box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.25);
    background: #FAFAFA;
}

main section.speakers div.speakers-container div.speaker-box img {
    width: 100%;
    height: auto;
}

main section.speakers div.speakers-container div.speaker-box h2 {
    text-transform: capitalize;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 18px;
}

main section.speakers div.speakers-container div.speaker-box h3 {
    text-transform: uppercase;
    padding: 20px 0 20px 20px;
    color: #fa692e;
    font-weight: normal;
}

main section.speakers div.speakers-container div.speaker-box h2 a:hover {
    color: #fa692e;
}

/* Special Events Styles */
main section.special-events {
    background: #3c3f49;
    color: #FFF;
    padding: 80px 250px;
}

main section.special-events div.special-events-container {
    text-align: center;
    border: 1px solid #FFF;
    padding: 60px 0px;
}

div.special-events-container h2 {
    text-transform: uppercase;
    font-size: 42px;
    letter-spacing: 3px;
    padding: 40px 0;
}

div.special-events-container p {
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 80px;
}

form.special-events-subscribe input[type=email] {
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #3c3f49;
    color: white;
    border-bottom: 5px solid #fa692e;    
}

form.special-events-subscribe input[type=email]::placeholder {
    color: #FFF;
    opacity: 1;    
}

form.special-events-subscribe button {
    text-transform: uppercase;
    padding: 10px 25px;
    background: #fa692e;
    color: #FFF;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    margin-left: 60px;
}

form.special-events-subscribe button:hover {
    background: black;
    cursor: pointer;
}

/* Footer Styles */
footer {
    background: #292A2F;
    color: #FFF;
    text-transform: uppercase;
    font-size: 16px;
    padding: 40px 10px 20px 10px;
}

/* clear float */
footer::after {
    content: '';
    display: block;
    clear: both;
}

footer p.brand {
    float: left;
}

footer p.copyright::before{
    content: '© '
}

footer p.copyright {
    float: right;
    width: 250px;
    color: #898A8F;
}