@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    font-family: Lato, sans-serif;
    font-size: 14px;
    /* line-height: 1.5; */
    box-sizing:  border-box;
}

header {
    padding-bottom: 2rem;
}

header h1 {
    background: url(images/header.jpg) no-repeat center;
    background-size: cover;
    height: 10rem;
    color: #FFFFFF;
    text-align: center; 
    padding-top: 3.6rem;
}

div.content {
    display: inline-block;
    width: 64%;
    /* background: orange; */
    padding-left: 5rem;
    padding-right: 1rem;
}

article {
    padding-bottom: 1.5rem;
}

article p:last-of-type {
    padding-bottom: 1rem;
}

article button {
    border: 1px solid #ec5353;
    background: none;
    background-color: #FFFFFF;
    color: #ec5353;
    padding: 0.8rem;
    border-radius: 1.6rem;
}

article button:hover {
    background: none;
    border: 1px solid #ec5353;
    background-color: #ec5353;
    color: #FFFFFF;
    padding: 0.8rem;
    border-radius: 1.6rem;
    cursor: pointer;
}

aside {
    display: inline-block;
    width: 35%;
    vertical-align: top;
    /* background: red; */
    padding-left: 1rem;
    padding-right: 5rem;
}

aside h1 {
    padding-bottom: 1.2rem;
}

aside p {
    padding-bottom: 1.5rem;
}

img {
    width: 100%;
    height: auto;
}