@import url('typography.css');
 
section {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;

    margin: 5vw auto;
}

article {
    padding: 2em;
}

h2 {
    font-family: Georgia, sans-serif;
    line-height: 1.2;
}