/* CSS Is Hardware accelerated */
body{
    padding: 1em 2em;
    max-width: 60rem;
    margin: 0 auto;
}

article{

}

article header,
article footer{
    color: #060;
}

article header{
    border-bottom: 0.3em solid currentColor;
}

article footer{
    border-top: 0.3em solid currentColor;
}