html{
    /* Search for font is done for every character */
    /* Google Fonts allows to load only specified characters from font Example: Only numbers*/
    /* Or just use System Font Stack so that your site will look native to system calling it */
    font-family: PT Sans, Helvetica, Verdana, sans-serif;
    font-size: 16px;
    /* line-height must be around 1.5 times size of font-size for good readability */
    line-height: 1.5;
    /* Alternative Syntax - Short hand properties */
    /* font: 16px/1.5 PT Sans, Helvetica, Verdana, sans-serif; */
}

p{
    /* pixels are abstract and their size is defined by the OS Example: 
    In High resolution(retina display) mobile devices 1px may have size of 4 display pixels */
    /* width: 800px; */
    padding-bottom: 1em;
}

h1, h2, h3, h4, h5, h6{
    font-family: PT Serif, serif;
    /* 1.5 line-height for very large fonts is too much */
    line-height: 1.1;
    margin: 0 0 0.5em 0;
    padding: 0;
}

h1{ font-size: 2.6em; }
h2{ font-size: 2.2em; }
h3{ font-size: 1.9em; }
h4{ font-size: 1.6em; }
h5{ font-size: 1.4em; }
h6{ font-size: 1.2em; }