* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.5em 0;
}

hr {
    margin: 50px 0;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

p {
    margin: 20px 0;
}

.item {
    padding: 10px;

    background: #D93932;
    color: #FFFFFF;
}

.no-item {
    background: #FFFFFF;
}

.grid {
    border: 1px solid black;
    background: darkgray;
    grid-gap: 20px;
}

/* ---------------------------- */
.explicit-grid .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* shorthand for above */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 100px;
    
}

/* ------------------------------ */
.track-list .grid {
    display: inline-grid;
    grid-template-columns: repeat(2, 120px 80px 200px);
    grid-template-rows: 100px 100px;
}

/* --------------------------------- */
.track-reeat .no-item,
.track-auto-filling .no-item,
.track-auto-fit .no-item {
    min-height: 38px;
}

/* ------------------------------------------- */
.track-reeat .grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);    
}

/* ---------------------------------------------- */
.track-auto-filling .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px); 
}

/* ---------------------------------------------- */
.track-auto-fit .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
}

/* ---------------------------------------------- */
.row-col .no-item {
    height: 100px;
}

.row-col .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: repeat(auto-fill, 100px);
    height: 100%;
}

/* ----------------------------------------------- */
.implicit-grid .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 100px;
    max-width: 800px;
}

.implicit-grid .item-1 {
    grid-column-start: -1;
}

.implicit-grid .item-2 {
    grid-row-start: 4;
}

/* ------------------------------------------------ */
.sizing-implicit-tracks .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 100px;
    
    /* You can make sized implicit tracks more flexible by 
    specifying a range using the minmax() notation. */
    grid-auto-columns: minmax(300px, auto);
    grid-auto-rows: minmax(60px, auto);
}

.sizing-implicit-tracks .item-1 {
    grid-column-start: -1;
}

.sizing-implicit-tracks .item-2 {
    grid-row-start: 4;
}

/* --------------------------------------------------- */
.extending-grid-start .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 100px;
    
    /* You can make sized implicit tracks more flexible by 
    specifying a range using the minmax() notation. */
    grid-auto-columns: minmax(300px, auto);
    grid-auto-rows: minmax(60px, auto);
}

.extending-grid-start .item-1 {
    grid-row-end: 2;
    grid-row-start: span 2;
}

.extending-grid-start .item-2 {
    grid-column-end: 2;
    grid-column-start: span 2;
}

/* ------------------------------------------------------ */
.automatic-placement .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 100px;
    grid-auto-flow: column;
}

/* ------------------------------------------------------- */
.no-explicit-grid .grid {
    display: grid;
    grid-auto-columns: minmax(60px, 200px);
    grid-auto-rows: 60px;
}

.no-explicit-grid .item-1 {
  grid-row: span 2;
}

.no-explicit-grid .item-2 {
    grid-column: 1 / span 2;
}

.no-explicit-grid .item-5 {
    grid-column: 3;
}