button, .button {
	display: inline-block;
	position: relative;
	outline: none;
	border: 0;
	text-decoration: none;
	padding: 0;
	font-size: 0.8rem;
	line-height: 1;
	cursor: pointer;
	background: transparent;
	color: #333;
	border: 2px solid #333;
	border-radius: 0.2rem;
	padding: 0.5rem 1rem;
	font-weight: bold;
    margin: 0 0 1rem 0;
    background: #FFF;
}

.button + .button,
.button + button,
button + button,
button + .button {
    margin-left: 1rem;
}

button:last-child, .button:last-child {
	margin-bottom: 0;
}

button:hover,
button:focus,
.button:hover,
.button:focus {	
    border-color: #FFF;
    color: #68347B;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

button.fill-hover:hover,
button.fill-hover:focus, 
.button.fill-hover:hover,
.button.fill-hover:focus {
    background: #68347B;
    border-color: #68347B;
    color: #FFF;
    box-shadow: none;
}

button.fill, .button.fill {
	background: #68347B;
    color: #FFF;
    border-color: #68347B; 
}

button.fill:hover,
button.fill:focus,
.button.fill:hover,
.button.fill:focus {
	border-color: #68347B;
	color: #68347B;
	background: #FFF;
}

button span.fas, .button span.fas {
	display: inline-block;
	font-size: 0.9em;
	margin-right: 0.3rem;
}
