* {
    margin: 0;
    padding: 0;
}

main {
    width: 400px;
}

body {
    padding: 3rem 1rem;
}

div {
    background: #6495ED;
    border-radius: 5px;
    text-align: center;
    padding: 1rem 2rem;
}

p {
    padding-bottom: 1rem;
    text-align: justify
}

.left {
    float: left;
    margin-right: 0.5rem;
}

.right {
    float: right;
    margin-left: 0.5rem;
}

.center {
    margin: 0 auto;
    width: 120px; height: 30px;
    line-height: 30px;
    margin-bottom: 1rem;
}