@import url('https://fonts.googleapis.com/css?family=Montserrat');

html{    
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

body, h2{
    margin: 0;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #00dbde, #fc00ff);
    display: flex;
}

form{
    width: 35rem;
    margin: 3rem auto;
    background: #fff;
    border-radius: 0.5rem;
    padding: 3rem 5rem;
    display: flex;    
    justify-content: space-between;
    flex-direction: column;     
}

form h2{
    display: block;
    font-family: Montserrat-Medium;
    font-size: 39px;
    color: #555555;  
    text-align: center;
    padding-bottom: 53px;
}

.buttons{  
    display: flex;
    justify-content: space-between;    
}

a{
    text-decoration: none;
    font-size: 18px;   
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;   
    border-radius: 0.5rem;
    width: calc((100% - 20px) / 2);
    height: 70px;
    margin-bottom: 3rem;
    position: relative;
}

a::after{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    top: 0;
    left: 0;
    
}

.facebook{
    color: #fff;
    background-color: #3b5998;
}

.google{
    color: #555555;
    background-color: #fff;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
}

i{
    font-size: 30px;
    margin-right: 17px;
    padding-bottom: 3px;
}

.field  {
	display: flex;
	flex-direction: column;	
}

label{    
    color: #555555;    
}

.field .input {
	display: flex;
	position: relative;
	align-items: center;
}

.field .input:after {
	display: block;
	content: '';
}

.field input{
    width: 100%;   
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
    border-radius: 0.5rem;
    color: #333333;   
    font-size: 18px;
    outline: none;
    display: block;
    width: 100%;  
    height: 60px;
    padding: 0 20px;
    margin: 0.5rem 0;
    flex: 1 1 auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    background-color: #333333;
    border-radius: 0.5rem;
    border: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}
a:hover,
.submit:hover{
    border: none;
    color: white;
    background: linear-gradient(45deg, #00dbde, #fc00ff);
    cursor: pointer;
}

a:focus, .submit:focus{
    background: linear-gradient(45deg, #00dbde, #fc00ff);
    outline: none;
    color: white;
}

.input input:focus{
    border-color: #fc00ff;
}
