html{
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

body {
	padding: 5em;
}

.container{
    display: flex;
    max-width: 65vw;
    margin: auto; 
    border: 1px solid black;  
}

.week{
    width: 50vw;    
    text-align: center;
    display: flex;
    flex-wrap: wrap;       
}

.week span{
    box-sizing: border-box;
    border: 1px solid black;
    padding: 2rem 2rem 6rem 2rem;
    flex: 1 0 15%;
}

.week span:nth-child(1),
.week span:nth-child(7){
    flex: 1 0 100%;  
    font-size: 16px;  
}

.notes{
    display: flex;
    flex-direction: column;    
    width: 15vw;
}

.notes span{
    flex: 1 0 50%;
    border: 1px solid black;    
    padding: 0.5rem;    
    text-align: center;
    font-size: 16px; 
}

