fieldset {
    border: 2px solid #CCC;

    padding: 1.5em 2em;    
}

fieldset + fieldset {
    margin-top: 2em;
}

fieldset p {
    padding-bottom: 1em;
}

p.submit {
    margin-top: 2em;
    text-align: right;
}

legend {
    font-weight: bold;
    font-size: 1.2em;

    padding: 0 0.5em;
}

input,
select {
    display: block;

    /* Remove default styles from select */
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;

    border: none;
    outline: none;

    width: 100%;
}



select {
    background: url('chevron-down-solid.svg') right center no-repeat;
    background-size: 0.8rem auto;
}

/* Attribute selector */
input[type="submit"] {
    display: inline-block;
    
    width: auto;

    background: #369;
    color: #FFF;
    border-color: #258;

    border-radius: 0.3em;
    padding: 0.5em 1em;

    cursor: pointer;
}

.input-wrapper {
    display: flex;
    align-items: center;
    position: relative;

    padding: 0.5em 1em 0.5em 2em;
}

.no-icon {
    border: 2px solid #CCC;
    border-radius: 0.3em;  

    background: #FFF;
}

/* If we have focus on element whitin */
.no-icon:focus-within {
    border-color: #47A;
}

input:focus,
select:focus {
    border-color: #47A;
}

.input-wrapper i {
    display: flex;    
    align-items: center;
    
    border: 2px solid #CCC;
    border-radius: 0.3em;  

    background: #FFF;

    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
}

.input-wrapper i::before {
    padding: 0 0.5em; 
}

input:focus + i {
    color: #47A;
    border-color: #47A;
}