body {
    background: #369;
    color: #FFF;
}

a {
    color: #FFF;
}

.site-header{
    border-bottom: 4px solid #EEE;
}

.site-header a {
    text-decoration: none;
    color: #FFF;
}

.site-footer{
    border-top: 4px solid #EEE;
    padding-top: 1rem;
    margin-top: 2rem;
}

/* Navigation */
.site-header nav li:hover > a,
.site-header nav a:focus,
.site-header nav a:hover {
    /* border-color: #000;  */
    background-color: #FFF;
    color: #000;
}