@import url('https://fonts.googleapis.com/css?family=Courgette&subset=latin-ext');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Courgette', cursive;
    font-size: 16px;
    line-height: 1.5;
}

body {
    padding: 3rem 5rem;
    background: #F5F5F5;
}

header h1 {
    font-size: 70px;
    font-weight: normal;
    letter-spacing: 3px;
    text-align: center;
}

header h2 {
    font-size: 36px;
    letter-spacing: 3px;
    text-align: center;
    color: #CB2027;
    margin-left: 20rem;
}

.article-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
    margin-top: 3rem;
}

.article-container article {
    flex: 0 0 32%;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    border-radius: 1rem;
    background: #FFF;
    
}

.article-container img {
    max-width: 100%;
}

.article-container .content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.article-container .content > * {
    flex: 0 0 auto;
}

.article-container h2 {
    font-size: 36px;    
}

.article-container h2::after {
    display: block;
    content: '';
    border-bottom: 2px solid #CB2027;
    margin: 1rem 0 1.5rem;
}

.article-container p {
    font-size: 20px;
}

.article-container p:first-of-type {
    flex: 1 1 auto;
}

.article-container p + p {
    margin-top: 2rem;
}

.article-container a { 
    text-decoration: none;
    color: #000;
}

.article-container a::after {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f138';
    color: #CB2027; 
    margin-left: 1rem;
} 