@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

ul{
    list-style-type: none;
}