@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");
html{
    font: 16px/1.5 Helvetica, sans-serif;
}

body {
	padding: 5em;
}

a.button {
	display: inline-block;
	background: green;
	color: #FFF;
	text-decoration: none;
	padding: 0.5rem 0.8rem;
	border-radius: 0.2rem;
}

a.button:hover {
	background: red;
}

a.button:hover i {
	color: #000;
}

a.button.orange {
	background: darkorange;
}