@media all and (max-width: 980px) {
    body #wrapper {
        max-width: 100%;
    } 

    body #wrapper > header h1 a img {
        margin: 0 auto;
    }

    body #wrapper > header h1 a span {
        flex-basis: 100%;
        text-align: center;
        padding: 0;
    }

    body #wrapper > header nav ul {
        margin-top: 0;
    }

    body #wrapper > header nav ul li {
        width: 100%;
    }

    body #wrapper > section {
        width: 100%;
    }

    body #wrapper > aside {
        width: 100%;
        flex-flow: nowrap;
    }
}

@media all and (max-width: 640px) {
    body #wrapper > aside {
        flex-flow: row wrap;
    }
}