@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,latin-ext');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    width: 47rem;
    height: 29.6rem;
    border: 2px solid #888686;
    margin: 5rem auto;
}

.container h1 {
    text-align: center;
    font-weight: normal;
}

.img-container, 
.form-container {
    flex: 0 0 50%;
}

.form-container {
    padding: 1rem;
    background: #F6F7F8;
}

/* Radio Section */
.container form .radio-set {
    display: flex;
    width: 100%
}

.radio-set {
    margin: 2rem 0;
}

.radio-set label {
    background: #E0E0DF;
}

.radio-set input:checked + label {    
    background: #EFE562;
}

.radio-set label {
    padding: 0.5rem 0;
    flex: 0 0 50%;
    text-align: center;
}

.radio-set input {
    display: none;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.input-field {
    flex: 0 0 48%;    
}

.input-field.full-width {
    flex: 0 0 100%;
    margin-top: 2rem;
}

.input-field label {
    display: block;
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.input-field input,
.input-field select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #A3AABB;
    border-radius: 0.3rem; 
}

.input-row input {
    width: 48%;
}

.input-field input::placeholder,
.input-field select {
    font-style: italic;
}

input[type="submit"] {
    color: #FFF;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem; 
    background: #05A2D3;
}
