@import url('typography.css');
@import url('reset.css');


body {
    padding: 4rem;
    max-width: 100rem;
    margin: 0 auto;
}

.top-part {
    display: flex;

    margin-bottom: 2rem;
}

.top-part h2 {
	font-weight: 300;
    letter-spacing: 0.4rem;    
}

.top-part p {
    color: #656565;
}

.top-part .welcome-part,
.top-part .gallery-part {
    padding-left: 3rem;

    border-left: 2px solid #656565;
}

.top-part .welcome-part {
    width: 70%;    
}

.top-part .gallery-part {

}

.bottom-part {
    display: flex;
    justify-content: space-between;
}

.bottom-part article {
    width: 30%;
}

.bottom-part article img {
	width: 100%;
}