    /* <!-- Everything we've said so far applies to boxes that represent block level elements. --> */
p {
    padding : 1em;
    border  : 1px solid black;
}

span {
    border  : 1px solid green;
    /* That makes the box visible, regardless of its type */
    background-color: yellow;
}
    /* <!-- A block box is defined as a box that's stacked upon other boxes 
        (i.e. content before and after the box appears on a separate line), 
        and can have width and height set on it. The whole box model as described above 
        applies to block boxes. --> */
    /* <!-- An inline box is the opposite of a block box: it flows with the document's text 
        (i.e. it will appear on the same line as surrounding text and other inline elements, 
        and its content will break with the flow of the text, like lines of text in a paragraph.) 
        Width and height settings have no effect on inline boxes; any padding, margin and 
        border set on inline boxes will update the position of surrounding text, but will not 
        affect the position of surrounding block boxes. --> */
    /* <!-- An inline-block box is something in between the first two: It flows with surrounding 
        text and other inline elements without creating line breaks before and after it 
        unlike a block box, but it can be sized using width and height and maintains its 
        block integrity like a block box. It won't be broken across paragraph lines like an
         inline box. In the below example the inline-block box goes onto the 2nd line of 
         text while keeping the shape of a box as there is not enough space for it on the 
         first line, whereas inline box does break on multiple lines if there is not enough 
         space — it loses the shape of a box. --> */
         /* By default, block level elements have display: block; set on them, 
         and inline elements have display: inline; set on them. */
.inline       { display: inline;       }
.block        { display: block;        }
.inline-block { display: inline-block; }