html {
	font: 16px/1.5 Verdana, sans-serif;
}

body {
	padding: 1em 5em;
}

body > header:first-of-type {
	text-align: center;
	border-bottom: 1px dashed #999;
}

body > section {
	border-top: 10px solid #000;
}

article header {
	border-bottom: 2px solid #333;
}
