body {
	background: rgb(238, 238, 238);
	color: rgb(51, 51, 51);
}

.site {
	max-width: 80rem;
	margin: 0 auto;
}

.site-content {
}

.site-content > article,
.site-content > aside { display: inline-block; }

.site-content > article {
	width: 50rem;
}

.site-content > aside {
	width: 20rem;
	vertical-align: top;
}