body {
    padding: 2rem;
    margin: 0;
}

.container {
    position: relative;

    background: #000;
    height: calc(100vh - 4rem);    
}

.box {
    position: absolute;

    width: 6rem;
    height: 6rem;
    background: #F00;
}

.inner-box {
    width: 2rem;
    height: 2rem;
    background: #0F0;
    position: absolute;
}

.tl {
    top: 0;
    left: 0;
}

/* Centering green box inside red box */
.tl .inner-box {    
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.tr {
    top: 0;
    right: 0;
}

.tr .inner-box {
    bottom: -2rem;
    left: -2rem;
}

.bl {
    bottom: 0;
    left: 0;
}

.bl .inner-box {
    top: -2rem;
    right: -2rem;
}

.br {
    bottom: 0;
    right: 0;
}

.br .inner-box {
    top: -2rem;
    left: -2rem;
}