body {
    padding: 4rem;
}

#container {
    background: #CCD;
    padding: 2rem;
    position: relative;
    height: 300vh;
}

/* element keeps position will page scrolls */
/* somewhat similar is position fixed */
#box1 {
    background: #DCC;
    position: sticky;
    /* position fixed position element relative to viewport not to parent element */
    /* position: fixed; */
    top: 1rem;
    left: 0rem;

    width: 5rem;
    height: 5rem;    
}

#box2 {
    position: absolute;
    top: 0; left: 1rem;
    background: red;
    z-index: 5;
}