body{

}

table,
table th, table td{
    border: 2px solid #000;
}

table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr th:nth-child(1){width: 40%;}

table th, table td{
    padding: 0.5em 0.6em;
    line-height: 1;
}

table thead th,
table tfoot th,
table tfoot td{
    background: #DDD;
    text-align: left;
}

table tbody tr:nth-child(odd) td{
    background: #EEE;
}

table tbody tr:hover td{
    background: #000;
    color: #FFF;
}