@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

html {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.5;

    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url('images/bg-01.jpg');
    background-repeat: no-repeat;
}

body::before {
    display: block;
    content: '';
    background: #846ADD;

    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    opacity: 0.9;
    z-index: -1;
}

.page-container {
    display: flex;
    

    width: 70rem;

    padding: 8rem 0;

    border-radius: 0.5rem;

    margin: 4rem auto;

    background: #FFF;
}

.image-container {
    flex: 1 1 0;
    align-self: center;
}

.image-container img {
    display: block;
    margin: 0 auto;
}

.form-container {
    flex: 1 1 0;
}

form {
    width: 25rem;
    padding: 2rem 1rem 1rem 0;
}

form input, 
form textarea {
    display: block;

    width: 100%;
    padding: 1rem 2rem;
    border: 1px solid #CCC;
    border-radius: 1.5rem;
    margin-bottom: 0.5rem;

    color: #777777;
    background: #E6E6E6;
}

form .input-field:focus-within input,
form textarea:focus {
    border-color: #846ADD;
    outline: none;
}

form .input-field:focus-within i {
    color: #846ADD;
}

form textarea {
    height: 8rem;
}

form input[type="submit"] {
    font-weight: bold;

    border: none;
    margin-bottom: 0;

    color: #FFFFFF;
    background: #846ADD;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus {
    cursor: pointer;
    outline: none;
    background: #000;
}

.input-field {
    position: relative;
}

.input-field input {
    padding-left: 3.5rem;
}

.input-field i {
    position: absolute;
    top: 1rem;
    left: 2rem;
    color: #777777;
}