@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");

.button,
button{
    display: inline-block;
    padding: 1rem 2rem;
    border: 2px solid #000;
    text-decoration:  none;
    font-size: 1rem;
    line-height: 1;
    color: #000;
    background:  transparent;
    border-radius: 3rem;
    cursor: pointer;
}

.button:hover,
button:hover{
    color: #090;
    border-color: currentColor;
    background-color: #FFF;
}

.button.filled,
button.filled{
    background: #000;
    color: #FFF;
}

.button.filled:hover,
button.filled:hover{
    border-color: #090;
    background-color: #090;
    color: #FFF;
}

.button.icon i,
button.icon i {
    display: inline-block;
    padding-right: 0.5rem; 
}