* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Montserrat, sans-serif;
    line-height: 1.2;
}

body {
    padding: 1em;
}

h1 {
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7em;
    text-align: center;

    margin-bottom: 1em;
}

form {
    background: rgb(173, 216, 230);
    color: #234467;

    border-radius: 0.3em;

    width: 30em;

    padding: 2em 1.5em;
    margin: 0 auto;
}

.field-wrapper {
    display: flex;
}

.field-wrapper .label {
    width: 7em;
}

.field-wrapper .input,
.field-wrapper select,
.field-wrapper textarea {
    width: 20em;
    padding: 0.5em 1em;
}

.field-wrapper + .field-wrapper {
    margin-top: 0.7em;
}

.input-radio label + input {
    margin-left: 2em;
}

.checkbox {
    margin-top: 2em;
}

.submit input {
    display: block;

    background: #234465;
    color: #FFF;

    border: none;
    border-radius: 0.3em;

    padding: 1em 3em;
    margin: 2em auto 0;
}