* {
    margin: 0;
    padding: 0;
}

form {
    width: 300px;
    color: #2D2D2D;

    padding: 20px;
}

fieldset {
    padding: 20px;
}

label, select, textarea, input {
    display: block;
}

.wrap {
    width: 180px;
}

label, select, textarea, input {
    width: 100%;   
    margin: 0;
    padding: 0; 
}

input[type="text"] {
    width: calc(100% - 4px);
}

textarea {
    width: calc(100% - 2px);
}