/* Box sizing */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* White space reset */
* {
    padding: 0;
    margin: 0;
}

/* Typography styles */
html {
    font: 14px/1.5 Verdana, sans-serif;
}

body, input, textarea, select, option, table, th, td {
    font: inherit;
}