body {
    padding: 4rem;
}

#container {
    background: #CCD;
    padding: 2rem;
    position: relative;
}


#box {
    background: #DCC;
    /* if there is no position specified in parents above position absolute will
    position element based on top left corner of document */
    /* if there is position specified in parent above position absolute will
    position element based on element left corner with first specified 
    (not default) position above */
    /* when we say position: absolute we detach element from the rest of document */
    position: absolute;
    top: 0rem;
    left: 0rem;

    width: 5rem;
    height: 5rem;    
}

/* element will be ositioned in the top right corner of the #box element */
#innerbox {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
}